.post img {
    width: 50px;
    border-radius: 50%;
}

.post {
    margin: 5px 5px 5px 5px;
    background-color: #ffffff;
    color: #3b3a36;
}

.poster {
    font-weight: bold;
}

.likes {
    padding-top: 5px;
    color: #3b3a36;
    font-style: italic;
}