.formControl.error input {
    border: 2px red solid;

}

.formControl.error span {
    color: red;
}

.formControl input {
    min-height: 30px;
    min-width: 200px;
    margin-bottom: 10px;
}

.formControl span {
    margin-left: 10px;
}