.app-wrapper {
    display: grid;
    grid-template-areas: "header header" "nav content";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 1fr 8fr;
    grid-gap: 10px;
    width: 90%;
    margin: auto;
}

.app-wrapper-content {
    grid-area: content;
    background-color: bisque;
}





