.app-wrapper {
    display: grid;
    grid-template-areas: "header header" "nav content";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 1fr 8fr;
    grid-gap: 20px;
    width: 100%;
}

.app-wrapper-content {
    grid-area: content;
    margin-right: 20px;
    /*border: 2px solid #b3c2bf;*/
}

.app-wrapper-navnar {
    grid-area: nav;
}

html {
    background-color: #e9ece5;
}

button {
    background-color: #e9ece5;
    border: 2px #3b3a36 solid;
    border-radius: 5px;
    min-width: 80px;
    min-height: 30px;
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
    margin-top: 10px;

}

button:hover {
    background: #3b3a36;
    color: #e9ece5;
}

textarea {
    min-height: 50px;
    min-width: 200px;
    /*border: #3b3a36 1px;*/
    /*border-radius: 1px;*/
}

textarea:active {
    border: none;
}


/* colors:
    #c0dfd9
    #e9ece5
    #b3c2bf
    #3b3a36
*/



