.dialogs {
    display: grid;
    grid-template-columns: 1fr 8fr;
}

.dialogItems {
    padding: 10px;
}

.dialog {
    padding: 10px;
}

.dialog a {
    font-size: 18px;
    line-height: 1.5;
    color: #b3c2bf;
    font-weight: bolder;
    text-decoration: none;
}

.dialog .active {
    color: #ffffff;
}

.messages {
    padding: 10px;

}

.message {
    padding: 10px;

}
