.dialogs {
    display: grid;
    grid-template-columns: 1fr 8fr;
}

.dialogItems {
    padding: 10px;
}

.dialog {
    padding: 10px;
}

.dialog a {
    color: #24292e;
    text-decoration: none;
}

.dialog .active {
    color: #e1e4e8;
}

.messages {
    padding: 10px;

}

.message {
    padding: 10px;

}
