.dialogs {
    display: grid;
    grid-template-columns: 1fr 8fr;
}

.dialogItems {
    padding: 10px;
    border-right: #3b3a36 2px solid;
}

.messages {
    padding: 10px;
}

.message {
    padding: 10px;
    color: #3b3a36;
}

.dialog {
    padding: 10px;
}

.dialog a {
    font-size: 18px;
    line-height: 1.5;
    color: #3b3a36;
    font-weight: bolder;
    text-decoration: none;

}

.dialog .active {
    color: #b3c2bf;
}
